@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

.landing-page {
  background-image: url(../../../public/images/LandingPage-Background.jpeg);
  height: 100vh;
  background-size: cover;
  position: relative;
  overflow: hidden;
  overflow-y: auto;
}

.top-bar {
  opacity: 80%;
  color: black;
}